{% extends 'base.html' %}

    {% block content %}

    <head>
        <style>
            body{
                background :url(https://media0.giphy.com/media/aJdHgmJbATnOw/giphy.gif);

            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            {% for x in api.Data %}
                <div class="col-sm d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;margin-bottom:35px;">
                      <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ x.title }}</h5>
                        <p style="display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;">{{ x.body }}</p>
                        <a href="{{ x.url }}" class="btn btn-secondary">Read More...</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
    <!--{{ api.Data }}-->


    {% endblock %}