{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <head>
        <style>
            body{
            background: url(https://i.imgur.com/7T9364v.gif?noredirect);
            background-size: contain;
            }

            .card{
                background: rgba(0,0,0,0.7);
                color: #fff;
                box-sizing: border-box;
                box-shadow: 0 15px 25px rgba(0,0,0,0.5);
                border-radius: 30px;
            }
        </style>
    </head>

    <body>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>SIGN UP</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    </body>
{% endblock %}